@{
    ViewBag.Title = "Successful";
}


<h4>@ViewBag.Item has been successfully @ViewBag.State.</h4>
<a class="btn btn-default" href="/Forum/ForumList"><span class="fa fa-book fa-fw"></span> Subforums</a>


