
@{
    ViewBag.Title = "Unsuccessful";
}

<h4>Unfortunately, something went wrong and  subforum has not been deleted or updated. Please, try again later or contact our technical support service.</h4>
<div class="row">
    <div class="col-md-3">
        <p><a class="btn btn-default" href="@Url.Action("Contact", "Home")">Contact</a></p>
    </div>
    <div class="col-md-3">
        <p><a class="btn btn-default" href="@Url.Action("ForumList", "Forum")">Back to subforums</a></p>
    </div>
</div>

@if (Request.IsAuthenticated && User.IsInRole("Administrator"))
{
    <p>@ViewBag.Message</p>
}


