@{
    ViewBag.Title = "SuccessRegister";
}

<h4>Registration completed successfully. You can use your email and password to sign in.</h4>
<a class="btn btn-default" href="@Url.Action("Login", "Account")"><span class="fa fa-sign-in"></span> Sign in</a>